.Scroll-paragraph,
.Scroll-link {
	margin-top: 10px;
	text-align: center;
	font-weight: 600;
	font-size: 20px;
	text-decoration: none;
	color: black;
}

.Dogs-list {
	list-style: circle;
	display: flex;
	flex-direction: column;
	margin-left: 25px;
	font-size: 20px;
	font-weight: 600;
	color: var(--btn-color);
}
