.DogsSearch {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.DogsSearch input {
	width: 200px;
	margin: 10px;
	padding: 5px;
	background-color: transparent;
	border-radius: 5px;
	border: 2.5px solid var(--btn-color);
	text-align: center;
	letter-spacing: 0.3px;
	outline: none;
}

.DogsSearch input:focus {
	border: 2.5px solid var(--btn-color-hover);
}

.DogsSearch h2 {
	margin: 30px;
	color: var(--btn-color);
	text-align: center;
}
