* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--btn-color: #da4848;
	--btn-color-hover: #fc4a4a;
	--bgc-color: #e8e8e8;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-color: var(--bgc-color);
	font-family: 'Open Sans', sans-serif;
}
